{{page-title "Error"}}
 {{!-- <div class="text-center">
      <h3>Dang!! Incorrect URL!!</h3> 

   <p>
    The page you were looking for appears to have been moved,deleted or does not exist:(
   </p>
 </div> --}}

 

 <div class="row">
    <div class="col">
        <div class="card shadow  mx-auto" style="width: 35rem;">
            <h3 class="display-1 text-muted text-center">
                404
            </h3>

            <span class="text-muted text-center">
                Page Could Not Be Found:)))))))))))
            </span>

            <div class="card-body mx-auto">
                <button type="button"
                class="btn btn-sm btn-danger text-white" {{action 'home'}}> Back To Login </button>
            </div>
        </div>
    </div>
</div>



            

{{outlet}}